* {
  margin: 0%;
  padding: 0%;
}
body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  row-gap: 6rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg-container {
  background: linear-gradient(174deg, white, #f7f9fb 67%, white 67%);
  background-repeat: no-repeat;
}
ul {
  list-style: none;
}
nav, section {
  margin: 0rem 3rem 0rem 3rem;
  padding: 1rem;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
}
h3 {
  text-align: center;
  font-size: 2.375rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
h5 {
  display: inline;
  font-size: 0.75rem;
}
p {
  color: #6d7a89;
  font-weight: 500;
  line-height: 1.5;
}
textarea {
  width: 22.875rem;
  height: 4.875rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-blue {
  color: white;
  background-color: #477ef7;
  border-radius: 1.5rem;
  padding: .75rem 1rem .75rem 1rem;
  display: inline;
  font-weight: 500;
  font-size: 0.875rem;
  width: fit-content;
}
.link-blue, .line {
  color: #477ef7;
  font-weight: 500;
}
.fa {
  font-weight: bold;
}
.icons {
  box-shadow: 1px 7px 15px 1px #f0f1f4;
  border-radius: 2rem;
  padding: 0.75rem;
  background-color: white;
  width: fit-content;
}
.icons img {
  width: 2rem;
}
.dots {
  color: #477ef7;
  background-color: #f7f9fb;
  padding: 1rem;
  border-radius: 1rem;
  width: fit-content;
  line-height: 1px;
  text-align: center; 
}

