/*nav bar styling*/

/* navbar top styling */
.navbar-top {
  display: flex;
  color: #6d7a89;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.options-right {
  margin-left: auto;
  display: flex;
  column-gap: 2rem;
}
.options-right li, .options-left li {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}