/*nav bar styling*/
.navbar-top, .navbar-bottom {
  display: flex;
  color: #6d7a89;
  font-size: 13px;
  font-weight: 500;
}
/* navbar top styling */
.options-right li, .options-left li {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.options-right{
  margin-left: auto;
  display: flex;
  column-gap: 2rem;
}
/* navbar bottom styling */
.menu-right {
  margin-left: auto;
}
.menu-right ul {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.logo {
  width: 7rem;
  height: 2rem;
  align-items: center;
}
.navbar-bottom {
  padding-top: 1.5rem;
  font-size: 14px;
  align-items: center;
}
/* section 1 styling */
.section-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* left text box styling */
.left-text-box {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
}
.links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
/* right icons styling */
.right-icons {
  grid-column: 2/3;
}
.google-logo {
  position: relative;
  left: 5rem;
  top: 4rem;
}
.asana-logo {
  position: relative;
  left: 27rem;
  top: 1rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.atlassian-logo {
  position: relative;
  left: 13rem;
  bottom: 3rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.calendar-logo {
  position: relative;
  left: 26.5rem;
  top: 9rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.gads-logo {
  position: relative;
  left: 11rem;
}
.paypal-logo {
  position: relative;
  bottom: 8rem;
  left: 4rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.weave-logo {
  position: relative;
  left: 18rem;
  bottom: 13rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
/*section two styling */
.section-two {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  align-items: center;
}
/* cards styling */
.array {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;
  width: 14rem;
  height: 16rem;
  box-shadow: 0px 8px 8px 3px #f0f1f4;
}
.card img {
  width: 64px;
  height: 64px;
}
.card p {
  font-size: 15px;
}
#sketch {
  background-color: #27c77a;
  color: white;
  padding: 0rem 0.25rem 0rem 0.25rem;
}
/* section three styling */
.section-three {
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 /* left text box styling */
.bg-three {
  background-color: #f7f9fb;
  padding: 3rem;
}
.bg-three span {
  font-size: 16px;
}
.box-text {
  font-size: 32px;
  font-weight: 600;
  color: black;
  text-align: left;
}
/* banner styling */
.banner {
  background-color: #f7f9fb;
  padding-top: 6rem;
}
.banner img {
  width: 36rem;
  position: relative;
  top: 3px;
  left: 7px;
}
/* section four styling */
.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  row-gap: 4rem;
}
/* header styling */
.front p {
  text-align: center;
}
/* dots styling */
.dot-container {
  display: flex;
  justify-content:center; 
  align-items: center;
  column-gap: 1rem;
}
.line {
  background-color: #f7f7f7;
  padding-left: 6rem;
  padding-right: 6rem;
  height: 1px;
  font-size: 0;
  position: relative;
  bottom: 3px;
}
/* features positioning */
.features {
  margin-top: 1rem;
  text-align: center;
}
.features h5:nth-child(1) {
  position: relative;
  right: 10rem;
}
.features h5:nth-child(2) {
  position: relative;
  right: 2rem;
}
.features h5:nth-child(3) {
  position: relative;
  left: 4rem;
}
.features h5:nth-child(4) {
  position: relative;
  left: 10rem;
}
/* video styling */
.vid {
  width: 1000px;
  height: 500px;
  position: relative;
}
.video {
  width: 1000px;
  height: 500px;
}
.vid button {
  color: black;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  box-shadow: 1px 7px 15px 1px #f0f1f4;
  border: 1px solid transparent;
  z-index: 1;
  background-color:white;
  
  position: relative;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}


