/*nav bar styling*/
.navbar-top, .navbar-bottom {
  display: flex;
  color: #6d7a89;
  font-size: 13px;
  font-weight: 500;
}
/* navbar top styling */
.options-right li, .options-left li {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.options-right{
  margin-left: auto;
  display: flex;
  column-gap: 2rem;
}
/* navbar bottom styling */
.menu-right {
  margin-left: auto;
}
.menu-right ul {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.logo {
  width: 7rem;
  height: 2rem;
  align-items: center;
}
.navbar-bottom {
  padding-top: 1.5rem;
  font-size: 14px;
  align-items: center;
}
/* section 1 styling */
.section-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* left text box styling */
.left-text-box {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
}
.links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
/* right icons styling */
.right-icons {
  grid-column: 2/3;
}
.google-logo {
  position: relative;
  left: 5rem;
  top: 4rem;
}
.asana-logo {
  position: relative;
  left: 27rem;
  top: 1rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.atlassian-logo {
  position: relative;
  left: 13rem;
  bottom: 3rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.calendar-logo {
  position: relative;
  left: 26.5rem;
  top: 9rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.gads-logo {
  position: relative;
  left: 11rem;
}
.paypal-logo {
  position: relative;
  bottom: 8rem;
  left: 4rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.weave-logo {
  position: relative;
  left: 18rem;
  bottom: 13rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
/*section two styling */
.section-two {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  align-items: center;
}
/* cards styling */
.array {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;
  width: 14rem;
  height: 16rem;
  box-shadow: 0px 8px 8px 3px #f0f1f4;
}
.card img {
  width: 4rem;
  height: 4rem;
}
.card p {
  font-size: 15px;
}
#sketch {
  background-color: #27c77a;
  color: white;
  padding: 0rem 0.25rem 0rem 0.25rem;
}
/* section three styling */
.section-three {
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 /* left text box styling */
.bg-three {
  background-color: #f7f9fb;
  padding: 3rem;
}
.bg-three span {
  font-size: 16px;
}
.box-text {
  font-size: 32px;
  font-weight: 600;
  color: black;
  text-align: left;
}
/* banner styling */
.banner {
  background-color: #f7f9fb;
  padding-top: 6rem;
}
.banner img {
  width: 36rem;
  position: relative;
  top: 3px;
}
/* section four styling */
.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  row-gap: 4rem;
}
/* header styling */
.front p {
  text-align: center;
}
/* dots styling */
.dot-container {
  display: flex;
  justify-content:center; 
  align-items: center;
  column-gap: 1rem;
}
.line {
  background-color: #f7f7f7;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 1px;
  font-size: 0;
  position: relative;
  bottom: 3px;
}
/* features positioning */
.features {
  margin-top: 0.5rem;
  text-align: center;
}
.features h5:nth-child(1) {
  position: relative;
  right: 8.5rem;
}
.features h5:nth-child(2) {
  position: relative;
  right: 2rem;
}
.features h5:nth-child(3) {
  position: relative;
  left: 3.5rem;
}
.features h5:nth-child(4) {
  position: relative;
  left: 8.5rem;
}
/* video styling */
.vid {
  width: 45rem;
  height: 20rem;
  position: relative;
}
.video {
  width: 45rem;
  height: 20rem;
}
.vid button {
  color: black;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  box-shadow: 1px 7px 15px 1px #f0f1f4;
  border: 1px solid transparent;
  z-index: 1;
  background-color:white;
  
  position: relative;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
/* section five styling */
.section-five {
  display: grid;
  grid-template-columns: 26rem 26rem;
  grid-template-rows: 30rem;
  justify-content: center;
  column-gap: 3rem;
}
/*testimonial styling */
.testimonial {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
}
.testimonial>p {
  color: black;
  font-size: 1rem;
}
.bio p {
  font-size: 0.6rem;
  margin-top: 0.5rem;
}
.testimonial img {
  width: 7rem;
}
/* photos styling */
.photo {
  grid-column: 1/2;
  overflow: hidden;
}
.photo img {
  width: 24rem;
  height: 32rem;
}
.photo img:first-child{ 
  z-index: 1;
  position: relative;
  top: 6.5rem;
  left: 1rem;
  object-fit: contain;
  width: 12rem;
  height: 24rem;
}
.photo img:last-child {
  z-index: 10;
  object-fit: contain;
  position: relative;
  left: 3.5rem;
  bottom: 26.5rem;
}
/* styling section six */
.section-six {
  display: grid;
  grid-template-areas: "statement" "corp-logos";
  justify-items: center;
  row-gap: 2rem;
}
.statement {
  grid-area: statement;
}
/* logos styling */
.corp-logos {
  grid-area: corp-logos;
  display: flex;
  width: 70rem;
  justify-content: center;
  column-gap: 6.5rem;
}
.corp-logos img {
  width: 5rem;
}
/*section seven styling */
.section-seven {
  display: grid;
  grid-template-areas: "pricing" "price-info";
  justify-items: center;
  row-gap: 3rem;
}
.pricing {
  grid-area: pricing;
}
/* price info styling */
.lrg-card {
  grid-area: lrg-card;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-between;
  align-content: flex-start;
  
  padding: 2rem;
  box-shadow: 0px 8px 8px 3px #f0f1f4;
}
.lrg-card .cost span:first-child {
  font-size: 2rem;
}
.lrg-card div:last-child {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.lrg-card .btn-blue {
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.75rem 2rem 0.75rem 2rem;
}
.no-credit {
  font-size: 0.9rem;
}
.price-info {
  grid-area: price-info;

  display: grid;
  grid-template-areas: "lrg-card components images" "lrg-card cancel money";
  column-gap: 2rem;
  row-gap: 1rem;
}
.price-info img {
  width: 2rem;
  height: 2rem;
}
.sml-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.components {
  grid-area: components;
  justify-content: flex-end;
}
.images {
  grid-area: images;
  justify-content: center;
}
.cancel {
  grid-area: cancel;
}
.money {
  grid-area: money;
}










