/*nav bar styling*/
.navbar-top, .navbar-bottom {
  display: flex;
  color: #6d7a89;
  font-size: 13px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.options-right{
  margin-left: auto;
  display: flex;
  column-gap: 2rem;
}
/* navbar top styling */
.options-right li, .options-left li {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
/* navbar bottom styling */
.menu-right {
  margin-left: auto;
}
.menu-right ul {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.logo {
  width: 7rem;
  height: 2rem;
  align-items: center;
}
.navbar-bottom {
  padding-top: 1.5rem;
  font-size: 14px;
  align-items: center;
}
.buy-now {
  color: white;
  background-color: #477ef7;
  border-radius: 1.5rem;
  padding: .75rem 1rem .75rem 1rem;
}
.home {
  color: #477ef7;
}