/*nav bar styling*/
.navbar-top, .navbar-bottom {
  display: flex;
  color: #6d7a89;
  font-size: 13px;
  font-weight: 500;
}
/* navbar top styling */
.options-right li, .options-left li {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.options-right{
  margin-left: auto;
  display: flex;
  column-gap: 2rem;
}
/* navbar bottom styling */
.menu-right {
  margin-left: auto;
}
.menu-right ul {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.logo {
  width: 7rem;
  height: 2rem;
  align-items: center;
}
.navbar-bottom {
  padding-top: 1.5rem;
  font-size: 14px;
  align-items: center;
}
/* section 1 styling */
.section-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* left text box styling */
.left-text-box {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
}
.links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
/* right icons styling */
.right-icons {
  grid-column: 2/3;
}
.google-logo {
  position: relative;
  left: 5rem;
  top: 4rem;
}
.asana-logo {
  position: relative;
  left: 27rem;
  top: 1rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.atlassian-logo {
  position: relative;
  left: 13rem;
  bottom: 3rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.calendar-logo {
  position: relative;
  left: 26.5rem;
  top: 9rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.gads-logo {
  position: relative;
  left: 11rem;
}
.paypal-logo {
  position: relative;
  bottom: 8rem;
  left: 4rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
.weave-logo {
  position: relative;
  left: 18rem;
  bottom: 13rem;
  padding: 1.5rem;
  border-radius: 3rem;
}
/*section two styling */
.section-two {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  align-items: center;
}
/* cards styling */
.array {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;
  width: 14rem;
  height: 16rem;
  box-shadow: 0px 8px 8px 3px #f0f1f4;
}
.card img {
  width: 64px;
  height: 64px;
}
.card p {
  font-size: 15px;
}
#sketch {
  background-color: #27c77a;
  color: white;
  padding: 0rem 0.25rem 0rem 0.25rem;
}
