/*nav bar styling*/
.navbar-top, .navbar-bottom {
  display: flex;
  color: #6d7a89;
  font-size: 0.8125rem;
  font-weight: 500;
}
/* navbar top styling */
.options-right li, .options-left li {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.options-right { 
  margin-left: auto;
  display: flex;
  column-gap: 2rem;
}
/* navbar bottom styling */
.menu-right {
  margin-left: auto;
}
.menu-right ul {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.logo {
  width: 7rem;
  height: 2rem;
  align-items: center;
}
.navbar-bottom {
  padding-top: 1.5rem;
  font-size: 14px;
  align-items: center;
}
/* section 1 styling */
.section-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* left text box styling */
.left-text-box {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
}
.links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
/* right icons styling */
.right-icons {
  grid-column: 2/3;
}
.icons {
  animation-duration: 1s;
}
.google-logo {
  position: relative;
  left: 5rem;
  top: 4rem;

  animation-name: movement-one;
}
.asana-logo {
  position: relative;
  left: 27rem;
  top: 1rem;
  padding: 1.5rem;
  border-radius: 3rem;

  animation-name: movement-two;
}
.atlassian-logo {
  position: relative;
  left: 13rem;
  bottom: 3rem;
  padding: 1.5rem;
  border-radius: 3rem;

  animation-name: movement-three;
}
.calendar-logo {
  position: relative;
  left: 26.5rem;
  top: 9rem;
  padding: 1.5rem;
  border-radius: 3rem;

  animation-name: movement-four;
}
.gads-logo {
  position: relative;
  left: 11rem;

  animation-name: movement-five;
}
.paypal-logo {
  position: relative;
  bottom: 8rem;
  left: 4rem;
  padding: 1.5rem;
  border-radius: 3rem;

  animation-name: movement-six;
}
.weave-logo {
  position: relative;
  left: 18rem;
  bottom: 13rem;
  padding: 1.5rem;
  border-radius: 3rem;

  animation-name: movement-seven;
}
@keyframes movement-one {
  from {
    position: relative;
    top: 14rem;
  }
  to { 
    position: relative;
    top: 4rem;
  }
}
@keyframes movement-two {
  from {
    position: relative;
    top: 11rem;
  }
  to { 
    position: relative;
    top: 1rem;
  }
}
@keyframes movement-three {
  from {
    position: relative;
    bottom: -7rem;
  }
  to { 
    position: relative;
    bottom: 3rem;
  }
}
@keyframes movement-four {
  from {
    position: relative;
    top: 19rem;
  }
  to { 
    position: relative;
    top: 9rem;
  }
}
@keyframes movement-five {
  from {
    position: relative;
    top: 10rem;
  }
  to { 
    position: relative;
    top: 0rem;
  }
}
@keyframes movement-six {
  from {
    position: relative;
    bottom: -2rem;
  }
  to { 
    position: relative;
    bottom: 8rem;
  }
}
@keyframes movement-seven {
  from {
    position: relative;
    bottom: 3rem;
  }
  to { 
    position: relative;
    bottom: 13rem;
  }
}
/*section two styling */
.section-two {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  align-items: center;
}
/* cards styling */
.array {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;
  width: 14rem;
  height: 16rem;
  box-shadow: 0px 8px 8px 3px #f0f1f4;
}
.card img {
  width: 4rem;
  height: 4rem;
}
.card p {
  font-size: 15px;
}
#sketch {
  background-color: #27c77a;
  color: white;
  padding: 0rem 0.25rem 0rem 0.25rem;
}
/* section three styling */
.section-three {
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 /* left text box styling */
.bg-three {
  background-color: #f7f9fb;
  padding: 3rem;
}
.bg-three span {
  font-size: 1rem;
}
.box-text {
  font-size: 32px;
  font-weight: 600;
  color: black;
  text-align: left;
}
/* banner styling */
.banner {
  background-color: #f7f9fb;
  padding-top: 6rem;
}
.banner img {
  width: 36rem;
  position: relative;
  top: 3px;
}
/* section four styling */
.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  row-gap: 4rem;
}
/* header styling */
.front p {
  text-align: center;
}
/* dots styling */
.dot-container {
  display: flex;
  justify-content:center; 
  align-items: center;
  column-gap: 1rem;
}
.line {
  background-color: #f7f7f7;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 1px;
  font-size: 0;
  position: relative;
  bottom: 3px;
}
/* features positioning */
.features {
  margin-top: 0.5rem;
  text-align: center;
}
.features h5:nth-child(1) {
  position: relative;
  right: 8.5rem;
}
.features h5:nth-child(2) {
  position: relative;
  right: 2rem;
}
.features h5:nth-child(3) {
  position: relative;
  left: 3.5rem;
}
.features h5:nth-child(4) {
  position: relative;
  left: 8.5rem;
}
/* video styling */
.vid {
  width: 45rem;
  height: 20rem;
  position: relative;
}
.video {
  width: 45rem;
  height: 20rem;
}
.vid button {
  color: black;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  box-shadow: 1px 7px 15px 1px #f0f1f4;
  border: 1px solid transparent;
  z-index: 1;
  background-color:white;
  
  position: relative;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
/* section five styling */
.section-five {
  display: grid;
  grid-template-columns: 26rem 26rem;
  grid-template-rows: 30rem;
  justify-content: center;
  column-gap: 3rem;
}
/*testimonial styling */
.testimonial {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
}
.testimonial>p {
  color: black;
  font-size: 1rem;
}
.bio p {
  font-size: 0.6rem;
  margin-top: 0.5rem;
}
.testimonial img {
  width: 7rem;
}
/* photos styling */
.photo {
  grid-column: 1/2;
  overflow: hidden;
}
.photo img {
  width: 24rem;
  height: 32rem;
}
.photo img:first-child{ 
  z-index: 1;
  position: relative;
  top: 6.5rem;
  left: 1rem;
  object-fit: contain;
  width: 12rem;
  height: 24rem;
}
.photo img:last-child {
  z-index: 10;
  object-fit: contain;
  position: relative;
  left: 3.5rem;
  bottom: 26.5rem;
}
/* styling section six */
.section-six {
  display: grid;
  grid-template-areas: "statement" "corp-logos";
  justify-items: center;
  row-gap: 2rem;
}
.statement {
  grid-area: statement;
}
/* logos styling */
.corp-logos {
  grid-area: corp-logos;
  display: flex;
  width: 70rem;
  justify-content: center;
  column-gap: 6.5rem;
}
.corp-logos img {
  width: 5rem;
}
/*section seven styling */
.section-seven {
  display: grid;
  grid-template-areas: "pricing" "price-info";
  justify-items: center;
  row-gap: 3rem;
}
.pricing {
  grid-area: pricing;
}
/* price info styling */
.lrg-card {
  grid-area: lrg-card;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-between;
  align-content: flex-start;
  
  padding: 2rem;
  box-shadow: 0px 8px 8px 3px #f0f1f4;
}
.lrg-card .cost span:first-child {
  font-size: 2rem;
}
.lrg-card div:last-child {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.lrg-card .btn-blue {
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.75rem 2rem 0.75rem 2rem;
}
.no-credit {
  font-size: 0.9rem;
}
.price-info {
  grid-area: price-info;

  display: grid;
  grid-template-areas: "lrg-card components images" "lrg-card cancel money";
  column-gap: 2rem;
  row-gap: 1rem;
}
.price-info img {
  width: 2rem;
  height: 2rem;
}
.sml-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.components {
  grid-area: components;
  justify-content: flex-end;
}
.images {
  grid-area: images;
  justify-content: center;
}
.cancel {
  grid-area: cancel;
}
.money {
  grid-area: money;
}
/* section eight styling */
.section-eight {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
  background-color: #243358;
  padding: 2rem 4rem 2rem 4rem;
}
/* hire side styling */
.commercial {
  font-size: 0.6rem;
}
.testimonial-two {
  font-style: italic;
  color: white;
}
.hire {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.hire .bio p {
  color: #a5a5a5;
}
.hire hr {
  border-color: #6d7a89;
  width: 9rem;
}
.hire h3, .hire h5 {
  text-align: left;
  color: white;
}
.pictures {
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
  margin-left: 0.5rem;
}
.pictures img:first-child, .pictures img:nth-child(2) {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  align-self: center;
}
.pictures img:last-child {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
/* form side styling */
.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  
  background-color: white;
  border-radius: 0.25rem;
  padding: 2rem;
}
.form select {
  width: 11rem;
  appearance: none;
  position: relative;
  z-index: 3;
}
[for="budget"], [for="country"] {
  color: #a5a5a5;
  position: relative;
  left: 9.5rem;
  top: 2rem;
  font-size: 0.6rem;
  z-index: 1;
}
.subscribe {
  display: flex;
  column-gap: 0.25rem;
}
[for="sub"] {
  font-size: 0.85rem;
  color: #6d7a89;
}
.form a {
  text-decoration: underline dotted #6d7a89 ;
  color: #6d7a89;
}
.btn-submit {
  color: white;
  background-color: #477ef7;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
  border-radius: 0.25rem;
}
.form [type="text"], .form [type="email"], .form select {
  background-color: transparent;
  border: 0.125rem solid #f0f1f4;
  padding: 1rem;
}
.form h5 {
  font-size: 1.35rem;
  font-weight: 500;
}
.box {
  display: flex;
  column-gap: 1rem;
}
.box-two {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  height: 3.16rem;
  position: relative;
  bottom: 0.5rem;
}
.box-two>div {
  width: 10.9rem;
  height: fit-content;
}
/* section 9 styling */
.section-nine {
  display: flex;
  column-gap: 4rem;
  justify-content: center;

  font-size: 0.75rem;
}
.section-nine>div {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
#hiring {
  color: white;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
/* mobile responsiveness */
@media all and (max-width: 375px) {
  body {
    row-gap: 2rem;
  }
  /* mobile navbar */
  .navbar-top, .navbar-bottom {
    column-gap: 2rem;
  }
  nav, section {
    margin: 0rem;
    max-width: 367px;
    padding: 0.25rem;
  }
  nav {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .navbar-bottom {
    flex-direction: column;
    row-gap: 1rem;
  }
  .menu-right {
    margin-left: 0rem;
  }
  .menu-right ul {
    flex-direction: column;
    row-gap: 1rem;
  }
  /* mobile section 1 */
  .bg-container {
    max-width: 375px;
    background: linear-gradient(174deg, white, #f7f9fb 51%, white 5%);
  }
  .section-one {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .left-text-box {
    grid-row: 1/2;
    align-items: center;
  }
  .right-icons {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    right: 2rem;
  }
  .section-one h2 {
    text-align: center;
  }
  .asana-logo {
    left: 15rem;
    top: 20rem;
  }
  .calendar-logo { 
    left: 3rem;
    top: 12rem;
  }
  @keyframes movement-two {
    from {
      position: relative;
      top: 30rem;
    }
    to { 
      position: relative;
      top: 20rem;
    }
  }
  @keyframes movement-four {
    from {
      position: relative;
      top: 22rem;
    }
    to { 
      position: relative;
      top: 12rem;
    }
  }
  /* mobile section 2 */
  .key {
    text-align: center;
  }
  .array {
    flex-direction: column;
    row-gap: 1rem;
  }
  /* mobile section 3 */
  .section-three {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .box-text {
    text-align: center;
  }
  .bg-three {
    padding: 0rem;
  }
  .left-text-box {
    max-width: 367px;
  }
  .banner img {
    max-width: 367px;
  }
  /* mobile section 4 */
  .bccp {
    display: flex;
    align-content: center;
  }
  .dot-container {
    flex-direction: column;
    row-gap: 5rem;
    width: 2.5rem;
  }
  .line {
    transform: rotate(90deg);
  }
  .features {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10.75rem;
    width: min-content;
  }
  .features h5:nth-child(1), .features h5:nth-child(2) {
    right: 0rem;
  }
  .features h5:nth-child(3), .features h5:nth-child(4) {
    left: 0rem;
  }
  .vid, .video {
    width: 367px;
  }
  /* mobile section 5 */
  .section-five {
    grid-template-columns: 22rem;
    grid-template-rows: 30rem 25rem;
  }
  .testimonial {
    margin-bottom: 0rem;
  }
  /* mobile section 6 */
  .corp-logos {
    flex-direction: column;
    width: fit-content;
    row-gap: 1rem;
  }
  /* mobile section 7 */
  .section-seven {
    margin-top: 4rem;
  }
  .price-info {
    grid-template-areas: "lrg-card" "components" "images"  "cancel" "money";
    row-gap: 2rem;
    justify-items: center;
  }
  .sml-card, .lrg-card {
    box-shadow: 0px 4px 8px 3px #f0f1f4; 
  }
  .lrg-card {
    width: 16rem;
  }
  .sml-card {
    align-content: center;
    width: 17rem;
    padding: 1rem;
  }
  /* mobile section 8 */
  /* form side styling */
  .section-eight {
    flex-direction: column;
    padding: 0.25rem 0.25rem 1rem 0.25rem;
    row-gap: 2rem;
  }
  .form {
    padding: 0.5rem;
    width: 20rem;
  }
  .form h5 {
    text-align: center;
  }
  .form select {
    width: 20rem;
  }
  [for="budget"], [for="country"] {
    left: 18.5rem;
  }
  .comment {
    margin-top: 0rem;
  }
  textarea {
    width: 20rem;
    margin-top: 0rem;
  }
  .box {
    flex-direction: column;
    row-gap: 1rem;
  }
  .box-two {
    flex-direction: column;
    row-gap: 1rem;
    height: 9.5rem;
    bottom: 0rem;
    width: 20rem;
  }
  .box-two>div {
    width: 20rem;
  }
  /* mobile section 9 */
  .section-nine {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding-bottom: 2rem;
  }
  .section-nine>div {
    text-align: center;
  }
  .logo {
    align-self: center;
  }
}

















